@charset "utf-8";

/* Template custom style */

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

body {
	padding-top: 5rem;
}

.container-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

footer {
	text-align: center;
}

/* DataTable custom style */

table.dataTable thead .sorting:after, table.dataTable thead .sorting:before,
	table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_desc_disabled:before
	{
	bottom: .5em;
}

/* Alert custom style */

.div-oculta, .elemOculto {
	display: none !important;
}

/* Grid view custom style */

.profile-block {
	border: solid 1px #000000;	
}

.profile-name, .profile-phone, .profile-email, .profile-view {
	text-align: center;
}

.profile-email {
	text-decoration: underline;
}

.profile-name {
	font-weight: bolder;
	font-size: 22px;
}
